@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background-page text-text-main font-body-md;
    font-family: 'Plus Jakarta Sans', sans-serif;
  }
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.input-glow:focus-within {
  box-shadow: 0 0 0 4px rgba(227, 126, 91, 0.2);
  @apply bg-surface-card;
}

.shadow-ambient-card {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.03);
}

.shadow-ambient-button {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}
